:root {
  --hya-c-primary: #676bdc;
  --hyah-c-font: #FFF;

  /* Components - HyaButton */
  --hya-btn-min-ht: 44px;
  --hya-btn-min-wd: 44px;
  --hya-btn-wd: fit-content;
  --hya-btn-c-bg: var(--hya-c-primary);
  --hyah-btn-pd: 0 16px;
  --hyah-btn-c-font: var(--hyah-c-font);
}

.hya-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}