.hyah-button {
  min-height: 44px;
  min-width: 44px;
  width: fit-content;
  padding: 0 16px;
  border-radius: 4px;
  background-color: #676bdc;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}
.hyah-button:hover:not(:disabled) {
  background-color: #4c50b2;
}
.hyah-button:disabled {
  opacity: 0.75;
  box-shadow: none;
  cursor: not-allowed;
}
.hyah-button.full-width {
  width: 100%;
}
